In [1]:
import pandas as pd
import numpy as np
import json
import seaborn as sns
import matplotlib.pyplot as plt

import warnings

warnings.filterwarnings("ignore", category=FutureWarning)
pd.set_option('display.max_column', None)

In [2]:
df_train=pd.read_excel('C:/Users/LENOVO/Downloads/Sales+pred/House_Rent_Train.xlsx')
df_train

,id,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
0,ff8081815733a243015733b2876600a6,BHK2,NaN,21-04-2018 14:44,12.934471,77.634471,FAMILY,1,1,1,0,SEMI_FURNISHED,BOTH,1250,25.0,2.0,E,2.0,6.0,12.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",CORP_BORE,AP,2.0,40000.0
1,ff8081815ee25e15015ee50004da2acd,BHK2,Bellandur,2017-09-10 12:48:00,12.929557,77.672280,ANYONE,0,1,0,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0
2,ff80818163f29c9e0163f46770b873e7,BHK3,Thiruvanmiyur,2018-12-06 22:02:00,12.982870,80.262012,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0
3,ff80818164b68a700164b74b1b247a1d,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0
4,ff80818163b1faf00163b4b9b8a163b1,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20550,19,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,SEMI_FURNISHED,BOTH,1650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20551,20,BHK2,NaN,NaN,NaN,NaN,NaN,0,0,0,1,SEMI_FURNISHED,BOTH,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20552,21,BHK2,NaN,NaN,NaN,NaN,NaN,1,1,0,1,SEMI_FURNISHED,BOTH,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20553,22,BHK2,NaN,NaN,NaN,NaN,NaN,0,1,0,0,SEMI_FURNISHED,BOTH,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20554,23,BHK1,NaN,NaN,NaN,NaN,NaN,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_train.isnull().sum()

id                   0
type                27
locality           160
activation_date     23
latitude            23
longitude           23
lease_type          23
gym                  0
lift                 0
swimming_pool        0
negotiable           0
furnishing           0
parking              0
property_size        0
property_age        23
bathroom            23
facing              23
cup_board           23
floor               23
total_floor         23
amenities           23
water_supply        23
building_type       23
balconies           23
rent                23
dtype: int64

In [4]:
df_train.nunique()

id                 20523
type                   9
locality            1917
activation_date    19566
latitude           17733
longitude          17726
lease_type             4
gym                    2
lift                   2
swimming_pool          2
negotiable             2
furnishing             3
parking                4
property_size       1141
property_age          44
bathroom               8
facing                 8
cup_board             19
floor                 23
total_floor           27
amenities           4994
water_supply           3
building_type          4
balconies              9
rent                 206
dtype: int64

In [5]:
df_train.drop(columns='id', inplace=True)
df_train

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
0,BHK2,NaN,21-04-2018 14:44,12.934471,77.634471,FAMILY,1,1,1,0,SEMI_FURNISHED,BOTH,1250,25.0,2.0,E,2.0,6.0,12.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",CORP_BORE,AP,2.0,40000.0
1,BHK2,Bellandur,2017-09-10 12:48:00,12.929557,77.672280,ANYONE,0,1,0,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0
2,BHK3,Thiruvanmiyur,2018-12-06 22:02:00,12.982870,80.262012,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0
3,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0
4,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20550,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,SEMI_FURNISHED,BOTH,1650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20551,BHK2,NaN,NaN,NaN,NaN,NaN,0,0,0,1,SEMI_FURNISHED,BOTH,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20552,BHK2,NaN,NaN,NaN,NaN,NaN,1,1,0,1,SEMI_FURNISHED,BOTH,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20553,BHK2,NaN,NaN,NaN,NaN,NaN,0,1,0,0,SEMI_FURNISHED,BOTH,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20554,BHK1,NaN,NaN,NaN,NaN,NaN,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_train.isnull().sum()

type                27
locality           160
activation_date     23
latitude            23
longitude           23
lease_type          23
gym                  0
lift                 0
swimming_pool        0
negotiable           0
furnishing           0
parking              0
property_size        0
property_age        23
bathroom            23
facing              23
cup_board           23
floor               23
total_floor         23
amenities           23
water_supply        23
building_type       23
balconies           23
rent                23
dtype: int64

In [7]:
df_train = df_train.dropna().reset_index(drop=True)
df_train

,type,locality,activation_date,latitude,longitude,lease_type,gym,lift,swimming_pool,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,amenities,water_supply,building_type,balconies,rent
0,BHK2,Bellandur,2017-09-10 12:48:00,12.929557,77.672280,ANYONE,0,1,0,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORPORATION,AP,2.0,22000.0
1,BHK3,Thiruvanmiyur,2018-12-06 22:02:00,12.982870,80.262012,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",CORP_BORE,AP,3.0,28000.0
2,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,0.0,8000.0
3,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,0,0,0,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,45000.0
4,BHK1,"Seetharampalya,Hoodi",24-10-2017 18:29,12.986196,77.718314,FAMILY,1,1,1,1,SEMI_FURNISHED,BOTH,1080,0.0,2.0,E,1.0,3.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",CORP_BORE,AP,2.0,18000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,BHK1,Ulsoor,2017-11-10 17:08:00,12.979762,77.615395,ANYONE,0,1,0,1,SEMI_FURNISHED,TWO_WHEELER,850,30.0,2.0,E,1.0,1.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,1.0,20000.0
20373,BHK2,Koramangala 4th Block,19-10-2017 20:31,12.931072,77.632361,ANYONE,0,0,0,1,SEMI_FURNISHED,BOTH,1000,10.0,2.0,N,2.0,1.0,2.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":true,""AC""...",CORPORATION,IH,2.0,30000.0
20374,BHK2,Kumaraswamy Layout,21-12-2017 21:18,12.901800,77.566597,FAMILY,1,1,0,1,SEMI_FURNISHED,BOTH,1000,0.0,2.0,W,2.0,5.0,5.0,"{""LIFT"":true,""GYM"":true,""INTERNET"":true,""AC"":f...",BOREWELL,AP,2.0,16000.0
20375,BHK2,Indiranagar,28-06-2018 21:58,12.965502,77.647694,FAMILY,0,1,0,0,SEMI_FURNISHED,BOTH,1000,5.0,2.0,E,2.0,2.0,4.0,"{""LIFT"":true,""GYM"":false,""INTERNET"":true,""AC"":...",CORP_BORE,AP,3.0,30000.0
20376,BHK1,Malleshwaram West,2018-08-07 22:31:00,12.998645,77.574336,ANYONE,0,0,0,1,SEMI_FURNISHED,TWO_WHEELER,500,3.0,1.0,E,1.0,1.0,1.0,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",CORPORATION,IH,1.0,8500.0

In [8]:
df_train.isnull().sum()

type               0
locality           0
activation_date    0
latitude           0
longitude          0
lease_type         0
gym                0
lift               0
swimming_pool      0
negotiable         0
furnishing         0
parking            0
property_size      0
property_age       0
bathroom           0
facing             0
cup_board          0
floor              0
total_floor        0
amenities          0
water_supply       0
building_type      0
balconies          0
rent               0
dtype: int64

In [9]:
df_train.amenities.apply(lambda x: json.loads(x))
amenities_df = pd.DataFrame(df_train.amenities.apply(lambda x: json.loads(x)).tolist())
amenities_df.columns = [col.lower() for col in amenities_df.columns]
amenities_df

,lift,gym,internet,ac,club,intercom,pool,cpa,fs,servant,security,sc,gp,park,rwh,stp,hk,pb,vp
0,True,False,False,False,False,False,False,False,False,False,True,True,False,True,True,True,False,True,True
1,True,False,False,False,False,False,False,True,False,False,False,True,False,True,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True
4,True,True,False,False,True,False,True,True,True,False,True,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,True,False,True,False,False,False,False,False,True,False,True,True,True,True,False,False,True,False,True
20373,False,False,True,False,False,False,False,False,False,False,False,True,False,True,True,False,False,False,False
20374,True,True,True,False,True,False,False,True,False,False,True,False,False,True,False,False,False,True,False
20375,True,False,True,False,False,False,False,True,True,False,True,True,False,True,False,False,True,True,True
20376,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False

In [10]:
#converting boolean values into numerical value
for col in amenities_df.columns:
    amenities_df[col] = amenities_df[col].apply(lambda x: 1 if x == True else 0)
amenities_df.head()

,lift,gym,internet,ac,club,intercom,pool,cpa,fs,servant,security,sc,gp,park,rwh,stp,hk,pb,vp
0,1,0,0,0,0,0,0,0,0,0,1,1,0,1,1,1,0,1,1
1,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,1,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1
4,1,1,0,0,1,0,1,1,1,0,1,0,0,0,0,0,0,1,0

In [11]:
df_train = df_train.drop(['gym', 'lift','swimming_pool','amenities'],axis=1)

In [12]:
df_train_con = pd.concat([df_train , amenities_df], axis =1)
df_train_con

,type,locality,activation_date,latitude,longitude,lease_type,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,lift,gym,internet,ac,club,intercom,pool,cpa,fs,servant,security,sc,gp,park,rwh,stp,hk,pb,vp
0,BHK2,Bellandur,2017-09-10 12:48:00,12.929557,77.672280,ANYONE,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,CORPORATION,AP,2.0,22000.0,1,0,0,0,0,0,0,0,0,0,1,1,0,1,1,1,0,1,1
1,BHK3,Thiruvanmiyur,2018-12-06 22:02:00,12.982870,80.262012,FAMILY,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,CORP_BORE,AP,3.0,28000.0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,1,1
2,BHK1,Attiguppe,20-07-2018 16:22,12.955991,77.531634,FAMILY,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,CORPORATION,IH,0.0,8000.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,BHK3,Kodihalli,31-05-2018 17:41,12.963903,77.649446,FAMILY,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,CORPORATION,IH,1.0,45000.0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1
4,BHK1,"Seetharampalya,Hoodi",24-10-2017 18:29,12.986196,77.718314,FAMILY,1,SEMI_FURNISHED,BOTH,1080,0.0,2.0,E,1.0,3.0,5.0,CORP_BORE,AP,2.0,18000.0,1,1,0,0,1,0,1,1,1,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20372,BHK1,Ulsoor,2017-11-10 17:08:00,12.979762,77.615395,ANYONE,1,SEMI_FURNISHED,TWO_WHEELER,850,30.0,2.0,E,1.0,1.0,4.0,CORP_BORE,AP,1.0,20000.0,1,0,1,0,0,0,0,0,1,0,1,1,1,1,0,0,1,0,1
20373,BHK2,Koramangala 4th Block,19-10-2017 20:31,12.931072,77.632361,ANYONE,1,SEMI_FURNISHED,BOTH,1000,10.0,2.0,N,2.0,1.0,2.0,CORPORATION,IH,2.0,30000.0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,0
20374,BHK2,Kumaraswamy Layout,21-12-2017 21:18,12.901800,77.566597,FAMILY,1,SEMI_FURNISHED,BOTH,1000,0.0,2.0,W,2.0,5.0,5.0,BOREWELL,AP,2.0,16000.0,1,1,1,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0
20375,BHK2,Indiranagar,28-06-2018 21:58,12.965502,77.647694,FAMILY,0,SEMI_FURNISHED,BOTH,1000,5.0,2.0,E,2.0,2.0,4.0,CORP_BORE,AP,3.0,30000.0,1,0,1,0,0,0,0,1,1,0,1,1,0,1,0,0,1,1,1
20376,BHK1,Malleshwaram West,2018-08-07 22:31:00,12.998645,77.574336,ANYONE,1,SEMI_FURNISHED,TWO_WHEELER,500,3.0,1.0,E,1.0,1.0,1.0,CORPORATION,IH,1.0,8500.0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0

In [13]:
df_train_con.isnull().sum()

type               0
locality           0
activation_date    0
latitude           0
longitude          0
lease_type         0
negotiable         0
furnishing         0
parking            0
property_size      0
property_age       0
bathroom           0
facing             0
cup_board          0
floor              0
total_floor        0
water_supply       0
building_type      0
balconies          0
rent               0
lift               0
gym                0
internet           0
ac                 0
club               0
intercom           0
pool               0
cpa                0
fs                 0
servant            0
security           0
sc                 0
gp                 0
park               0
rwh                0
stp                0
hk                 0
pb                 0
vp                 0
dtype: int64

In [14]:
df_train_con.nunique()

type                   9
locality            1917
activation_date    19429
latitude           17625
longitude          17617
lease_type             4
negotiable             2
furnishing             3
parking                4
property_size       1136
property_age          44
bathroom               8
facing                 8
cup_board             19
floor                 23
total_floor           27
water_supply           3
building_type          4
balconies              9
rent                 206
lift                   2
gym                    2
internet               2
ac                     2
club                   2
intercom               2
pool                   2
cpa                    2
fs                     2
servant                2
security               2
sc                     2
gp                     2
park                   2
rwh                    2
stp                    2
hk                     2
pb                     2
vp                     2
dtype: int64

In [15]:
df_train_con['activation_date'] = pd.to_datetime(df_train_con['activation_date'])
df_train_con.head(3)

,type,locality,activation_date,latitude,longitude,lease_type,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,lift,gym,internet,ac,club,intercom,pool,cpa,fs,servant,security,sc,gp,park,rwh,stp,hk,pb,vp
0,BHK2,Bellandur,2017-09-10 12:48:00,12.929557,77.672280,ANYONE,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,CORPORATION,AP,2.0,22000.0,1,0,0,0,0,0,0,0,0,0,1,1,0,1,1,1,0,1,1
1,BHK3,Thiruvanmiyur,2018-12-06 22:02:00,12.982870,80.262012,FAMILY,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,CORP_BORE,AP,3.0,28000.0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,1,1
2,BHK1,Attiguppe,2018-07-20 16:22:00,12.955991,77.531634,FAMILY,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,CORPORATION,IH,0.0,8000.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [16]:
# date column split into day, month, year columns

df_train_con['activation_day'] = df_train_con['activation_date'].dt.day
df_train_con['activation_month'] = df_train_con['activation_date'].dt.month
df_train_con['activation_year'] = df_train_con['activation_date'].dt.year
df_train_con.drop(columns='activation_date', inplace=True)
df_train_con.tail(3)

,type,locality,latitude,longitude,lease_type,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,lift,gym,internet,ac,club,intercom,pool,cpa,fs,servant,security,sc,gp,park,rwh,stp,hk,pb,vp,activation_day,activation_month,activation_year
20374,BHK2,Kumaraswamy Layout,12.901800,77.566597,FAMILY,1,SEMI_FURNISHED,BOTH,1000,0.0,2.0,W,2.0,5.0,5.0,BOREWELL,AP,2.0,16000.0,1,1,1,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,21,12,2017
20375,BHK2,Indiranagar,12.965502,77.647694,FAMILY,0,SEMI_FURNISHED,BOTH,1000,5.0,2.0,E,2.0,2.0,4.0,CORP_BORE,AP,3.0,30000.0,1,0,1,0,0,0,0,1,1,0,1,1,0,1,0,0,1,1,1,28,6,2018
20376,BHK1,Malleshwaram West,12.998645,77.574336,ANYONE,1,SEMI_FURNISHED,TWO_WHEELER,500,3.0,1.0,E,1.0,1.0,1.0,CORPORATION,IH,1.0,8500.0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,7,8,2018

In [17]:
#Total amenities
df_train_con['Total_amenities'] = df_train_con['gym'] + df_train_con['lift'] + df_train_con['pool'] + df_train_con['internet'] + df_train_con['ac'] + df_train_con['club'] + df_train_con['intercom'] + df_train_con['cpa'] + df_train_con['fs'] + df_train_con['servant'] + df_train_con['security'] + df_train_con['sc'] + df_train_con['gp'] + df_train_con['park'] + df_train_con['rwh'] + df_train_con['stp'] + df_train_con['hk'] + df_train_con['pb'] + df_train_con['vp']
df_train_con.tail(3)

,type,locality,latitude,longitude,lease_type,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,lift,gym,internet,ac,club,intercom,pool,cpa,fs,servant,security,sc,gp,park,rwh,stp,hk,pb,vp,activation_day,activation_month,activation_year,Total_amenities
20374,BHK2,Kumaraswamy Layout,12.901800,77.566597,FAMILY,1,SEMI_FURNISHED,BOTH,1000,0.0,2.0,W,2.0,5.0,5.0,BOREWELL,AP,2.0,16000.0,1,1,1,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,21,12,2017,8
20375,BHK2,Indiranagar,12.965502,77.647694,FAMILY,0,SEMI_FURNISHED,BOTH,1000,5.0,2.0,E,2.0,2.0,4.0,CORP_BORE,AP,3.0,30000.0,1,0,1,0,0,0,0,1,1,0,1,1,0,1,0,0,1,1,1,28,6,2018,10
20376,BHK1,Malleshwaram West,12.998645,77.574336,ANYONE,1,SEMI_FURNISHED,TWO_WHEELER,500,3.0,1.0,E,1.0,1.0,1.0,CORPORATION,IH,1.0,8500.0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,7,8,2018,2

In [18]:
df_train_con.property_age.unique()

array([  4.,   6.,   3.,  15.,   0.,   5.,  10.,   2.,   8.,   7.,   1.,
        12.,   9.,  16.,  20.,  25.,  11.,  23.,  22.,  14.,  -1.,  30.,
        18.,  13.,  17.,  40.,  26.,  35.,  27.,  45.,  19.,  80.,  50.,
        33.,  37.,  34.,  21.,  28.,  42.,  60.,  24.,  49., 400., 100.])

In [19]:
df_train_con = df_train_con[df_train_con['property_age']>=0].reset_index(drop=True)
df_train_con.head(3)

,type,locality,latitude,longitude,lease_type,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,lift,gym,internet,ac,club,intercom,pool,cpa,fs,servant,security,sc,gp,park,rwh,stp,hk,pb,vp,activation_day,activation_month,activation_year,Total_amenities
0,BHK2,Bellandur,12.929557,77.672280,ANYONE,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,CORPORATION,AP,2.0,22000.0,1,0,0,0,0,0,0,0,0,0,1,1,0,1,1,1,0,1,1,10,9,2017,8
1,BHK3,Thiruvanmiyur,12.982870,80.262012,FAMILY,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,CORP_BORE,AP,3.0,28000.0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,1,1,6,12,2018,6
2,BHK1,Attiguppe,12.955991,77.531634,FAMILY,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,CORPORATION,IH,0.0,8000.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20,7,2018,0

In [20]:
df_train_con.describe()

,latitude,longitude,negotiable,property_size,property_age,bathroom,cup_board,floor,total_floor,balconies,rent,lift,gym,internet,ac,club,intercom,pool,cpa,fs,servant,security,sc,gp,park,rwh,stp,hk,pb,vp,activation_day,activation_month,activation_year,Total_amenities
count,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000
mean,12.945743,77.637263,0.711266,1061.762338,5.788046,1.858140,4.572061,1.870035,3.797582,1.147857,19048.188409,0.391418,0.244691,0.661817,0.042568,0.185706,0.192932,0.189392,0.291831,0.234664,0.037161,0.472965,0.471687,0.099784,0.505948,0.246412,0.170615,0.198781,0.365022,0.238547,15.342017,6.325796,2017.636748,5.241939
std,0.029582,0.110805,0.453185,592.100777,6.361746,0.711027,336.699793,2.182685,3.184757,0.993298,8431.271930,0.488079,0.429915,0.473103,0.201886,0.388879,0.394609,0.391830,0.454616,0.423799,0.189160,0.499281,0.499210,0.299719,0.499977,0.430932,0.376182,0.399093,0.481448,0.426206,8.862771,3.253369,0.480948,4.613196
min,12.900004,77.500072,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,8000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2017.000000,0.000000
25%,12.918239,77.571956,0.000000,700.000000,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,12500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,4.000000,2017.000000,2.000000
50%,12.943787,77.633368,1.000000,1045.000000,5.000000,2.000000,2.000000,1.000000,3.000000,1.000000,17500.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,6.000000,2018.000000,3.000000
75%,12.970899,77.695702,1.000000,1280.000000,10.000000,2.000000,3.000000,2.000000,4.000000,2.000000,24000.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,23.000000,9.000000,2018.000000,8.000000
max,12.999999,80.266346,1.000000,50000.000000,400.000000,21.000000,48026.000000,25.000000,26.000000,13.000000,50000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,31.000000,12.000000,2018.000000,19.000000

In [22]:
df_train_con['type'].unique()

array(['BHK2', 'BHK3', 'BHK1', 'RK1', 'BHK4', 'BHK4PLUS', '1BHK1', 'bhk2',
       'bhk3'], dtype=object)

In [23]:
type_dict = {'1BHK1':'BHK1', 'bhk2':'BHK2', 'bhk3':'BHK3'}

df_train_con['type'] = df_train_con['type'].apply(lambda x: type_dict[x] if x in ['1BHK1', 'bhk2', 'bhk3'] else x)
df_train_con.head()

,type,locality,latitude,longitude,lease_type,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,lift,gym,internet,ac,club,intercom,pool,cpa,fs,servant,security,sc,gp,park,rwh,stp,hk,pb,vp,activation_day,activation_month,activation_year,Total_amenities
0,BHK2,Bellandur,12.929557,77.672280,ANYONE,1,SEMI_FURNISHED,BOTH,1400,4.0,2.0,NE,2.0,3.0,4.0,CORPORATION,AP,2.0,22000.0,1,0,0,0,0,0,0,0,0,0,1,1,0,1,1,1,0,1,1,10,9,2017,8
1,BHK3,Thiruvanmiyur,12.982870,80.262012,FAMILY,0,SEMI_FURNISHED,BOTH,1350,6.0,3.0,E,3.0,1.0,5.0,CORP_BORE,AP,3.0,28000.0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,1,1,6,12,2018,6
2,BHK1,Attiguppe,12.955991,77.531634,FAMILY,1,SEMI_FURNISHED,TWO_WHEELER,600,3.0,1.0,E,1.0,1.0,2.0,CORPORATION,IH,0.0,8000.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20,7,2018,0
3,BHK3,Kodihalli,12.963903,77.649446,FAMILY,1,SEMI_FURNISHED,BOTH,1500,15.0,3.0,E,4.0,0.0,0.0,CORPORATION,IH,1.0,45000.0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,31,5,2018,3
4,BHK1,"Seetharampalya,Hoodi",12.986196,77.718314,FAMILY,1,SEMI_FURNISHED,BOTH,1080,0.0,2.0,E,1.0,3.0,5.0,CORP_BORE,AP,2.0,18000.0,1,1,0,0,1,0,1,1,1,0,1,0,0,0,0,0,0,1,0,24,10,2017,8

In [24]:
df_train_con.to_csv('data_final.csv',index = False)

In [25]:
# encoding the categorical features into numerical features

df_train_con['type'] = df_train_con['type'].map({'RK1':0, 'BHK1':1, 'BHK2':2, 'BHK3':3, 'BHK4':4, 'BHK4PLUS':5})
df_train_con['facing'] = df_train_con['facing'].map({'N':1, 'E':2, 'W':3, 'S':4, 'NE':5, 'NW':6, 'SE':7, 'SW':8})
df_train_con['lease_type'] = df_train_con['lease_type'].map({'BACHELOR':1, 'FAMILY':2, 'COMPANY':3, 'ANYONE':4})
df_train_con['furnishing'] = df_train_con['furnishing'].map({'NOT_FURNISHED':0, 'SEMI_FURNISHED':1, 'FULLY_FURNISHED':2})
df_train_con['parking'] = df_train_con['parking'].map({'NONE':0, 'TWO_WHEELER':1, 'FOUR_WHEELER':2, 'BOTH':3})
df_train_con['water_supply'] = df_train_con['water_supply'].map({'CORPORATION':1, 'CORP_BORE':2, 'BOREWELL':3,})
df_train_con['building_type'] = df_train_con['building_type'].map({'AP':1, 'IH':2, 'IF':3, 'GC':4})

In [26]:
df_train_con.describe()

,type,latitude,longitude,lease_type,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,lift,gym,internet,ac,club,intercom,pool,cpa,fs,servant,security,sc,gp,park,rwh,stp,hk,pb,vp,activation_day,activation_month,activation_year,Total_amenities
count,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000,20344.000000
mean,2.011994,12.945743,77.637263,2.918748,0.711266,0.987318,2.072110,1061.762338,5.788046,1.858140,2.171254,4.572061,1.870035,3.797582,1.821716,2.021481,1.147857,19048.188409,0.391418,0.244691,0.661817,0.042568,0.185706,0.192932,0.189392,0.291831,0.234664,0.037161,0.472965,0.471687,0.099784,0.505948,0.246412,0.170615,0.198781,0.365022,0.238547,15.342017,6.325796,2017.636748,5.241939
std,0.746193,0.029582,0.110805,1.037580,0.453185,0.356451,1.037781,592.100777,6.361746,0.711027,1.200480,336.699793,2.182685,3.184757,0.668913,0.941112,0.993298,8431.271930,0.488079,0.429915,0.473103,0.201886,0.388879,0.394609,0.391830,0.454616,0.423799,0.189160,0.499281,0.499210,0.299719,0.499977,0.430932,0.376182,0.399093,0.481448,0.426206,8.862771,3.253369,0.480948,4.613196
min,0.000000,12.900004,77.500072,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,8000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2017.000000,0.000000
25%,2.000000,12.918239,77.571956,2.000000,0.000000,1.000000,1.000000,700.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,12500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,4.000000,2017.000000,2.000000
50%,2.000000,12.943787,77.633368,2.000000,1.000000,1.000000,3.000000,1045.000000,5.000000,2.000000,2.000000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,17500.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.000000,6.000000,2018.000000,3.000000
75%,2.000000,12.970899,77.695702,4.000000,1.000000,1.000000,3.000000,1280.000000,10.000000,2.000000,2.000000,3.000000,2.000000,4.000000,2.000000,3.000000,2.000000,24000.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,23.000000,9.000000,2018.000000,8.000000
max,5.000000,12.999999,80.266346,4.000000,1.000000,2.000000,3.000000,50000.000000,400.000000,21.000000,8.000000,48026.000000,25.000000,26.000000,3.000000,4.000000,13.000000,50000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,31.000000,12.000000,2018.000000,19.000000

In [27]:
df_train_con.columns

Index(['type', 'locality', 'latitude', 'longitude', 'lease_type', 'negotiable',
       'furnishing', 'parking', 'property_size', 'property_age', 'bathroom',
       'facing', 'cup_board', 'floor', 'total_floor', 'water_supply',
       'building_type', 'balconies', 'rent', 'lift', 'gym', 'internet', 'ac',
       'club', 'intercom', 'pool', 'cpa', 'fs', 'servant', 'security', 'sc',
       'gp', 'park', 'rwh', 'stp', 'hk', 'pb', 'vp', 'activation_day',
       'activation_month', 'activation_year', 'Total_amenities'],
      dtype='object')

In [28]:
df_train_con

,type,locality,latitude,longitude,lease_type,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,lift,gym,internet,ac,club,intercom,pool,cpa,fs,servant,security,sc,gp,park,rwh,stp,hk,pb,vp,activation_day,activation_month,activation_year,Total_amenities
0,2,Bellandur,12.929557,77.672280,4,1,1,3,1400,4.0,2.0,5,2.0,3.0,4.0,1,1,2.0,22000.0,1,0,0,0,0,0,0,0,0,0,1,1,0,1,1,1,0,1,1,10,9,2017,8
1,3,Thiruvanmiyur,12.982870,80.262012,2,0,1,3,1350,6.0,3.0,2,3.0,1.0,5.0,2,1,3.0,28000.0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,1,1,6,12,2018,6
2,1,Attiguppe,12.955991,77.531634,2,1,1,1,600,3.0,1.0,2,1.0,1.0,2.0,1,2,0.0,8000.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20,7,2018,0
3,3,Kodihalli,12.963903,77.649446,2,1,1,3,1500,15.0,3.0,2,4.0,0.0,0.0,1,2,1.0,45000.0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,31,5,2018,3
4,1,"Seetharampalya,Hoodi",12.986196,77.718314,2,1,1,3,1080,0.0,2.0,2,1.0,3.0,5.0,2,1,2.0,18000.0,1,1,0,0,1,0,1,1,1,0,1,0,0,0,0,0,0,1,0,24,10,2017,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20339,1,Ulsoor,12.979762,77.615395,4,1,1,1,850,30.0,2.0,2,1.0,1.0,4.0,2,1,1.0,20000.0,1,0,1,0,0,0,0,0,1,0,1,1,1,1,0,0,1,0,1,10,11,2017,9
20340,2,Koramangala 4th Block,12.931072,77.632361,4,1,1,3,1000,10.0,2.0,1,2.0,1.0,2.0,1,2,2.0,30000.0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,0,19,10,2017,4
20341,2,Kumaraswamy Layout,12.901800,77.566597,2,1,1,3,1000,0.0,2.0,3,2.0,5.0,5.0,3,1,2.0,16000.0,1,1,1,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,21,12,2017,8
20342,2,Indiranagar,12.965502,77.647694,2,0,1,3,1000,5.0,2.0,2,2.0,2.0,4.0,2,1,3.0,30000.0,1,0,1,0,0,0,0,1,1,0,1,1,0,1,0,0,1,1,1,28,6,2018,10
20343,1,Malleshwaram West,12.998645,77.574336,4,1,1,1,500,3.0,1.0,2,1.0,1.0,1.0,1,2,1.0,8500.0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,7,8,2018,2

In [29]:
df_train_con.to_csv('df_final.csv',index = False)

In [30]:
df = pd.read_csv('df_final.csv')
df

,type,locality,latitude,longitude,lease_type,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,lift,gym,internet,ac,club,intercom,pool,cpa,fs,servant,security,sc,gp,park,rwh,stp,hk,pb,vp,activation_day,activation_month,activation_year,Total_amenities
0,2,Bellandur,12.929557,77.672280,4,1,1,3,1400,4.0,2.0,5,2.0,3.0,4.0,1,1,2.0,22000.0,1,0,0,0,0,0,0,0,0,0,1,1,0,1,1,1,0,1,1,10,9,2017,8
1,3,Thiruvanmiyur,12.982870,80.262012,2,0,1,3,1350,6.0,3.0,2,3.0,1.0,5.0,2,1,3.0,28000.0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,1,1,6,12,2018,6
2,1,Attiguppe,12.955991,77.531634,2,1,1,1,600,3.0,1.0,2,1.0,1.0,2.0,1,2,0.0,8000.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20,7,2018,0
3,3,Kodihalli,12.963903,77.649446,2,1,1,3,1500,15.0,3.0,2,4.0,0.0,0.0,1,2,1.0,45000.0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,31,5,2018,3
4,1,"Seetharampalya,Hoodi",12.986196,77.718314,2,1,1,3,1080,0.0,2.0,2,1.0,3.0,5.0,2,1,2.0,18000.0,1,1,0,0,1,0,1,1,1,0,1,0,0,0,0,0,0,1,0,24,10,2017,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20339,1,Ulsoor,12.979762,77.615395,4,1,1,1,850,30.0,2.0,2,1.0,1.0,4.0,2,1,1.0,20000.0,1,0,1,0,0,0,0,0,1,0,1,1,1,1,0,0,1,0,1,10,11,2017,9
20340,2,Koramangala 4th Block,12.931072,77.632361,4,1,1,3,1000,10.0,2.0,1,2.0,1.0,2.0,1,2,2.0,30000.0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,0,19,10,2017,4
20341,2,Kumaraswamy Layout,12.901800,77.566597,2,1,1,3,1000,0.0,2.0,3,2.0,5.0,5.0,3,1,2.0,16000.0,1,1,1,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0,21,12,2017,8
20342,2,Indiranagar,12.965502,77.647694,2,0,1,3,1000,5.0,2.0,2,2.0,2.0,4.0,2,1,3.0,30000.0,1,0,1,0,0,0,0,1,1,0,1,1,0,1,0,0,1,1,1,28,6,2018,10
20343,1,Malleshwaram West,12.998645,77.574336,4,1,1,1,500,3.0,1.0,2,1.0,1.0,1.0,1,2,1.0,8500.0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,7,8,2018,2

In [31]:
# MODEL

In [32]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
import pickle

In [33]:
df = pd.read_csv('df_final.csv')
df.head(4)

,type,locality,latitude,longitude,lease_type,negotiable,furnishing,parking,property_size,property_age,bathroom,facing,cup_board,floor,total_floor,water_supply,building_type,balconies,rent,lift,gym,internet,ac,club,intercom,pool,cpa,fs,servant,security,sc,gp,park,rwh,stp,hk,pb,vp,activation_day,activation_month,activation_year,Total_amenities
0,2,Bellandur,12.929557,77.672280,4,1,1,3,1400,4.0,2.0,5,2.0,3.0,4.0,1,1,2.0,22000.0,1,0,0,0,0,0,0,0,0,0,1,1,0,1,1,1,0,1,1,10,9,2017,8
1,3,Thiruvanmiyur,12.982870,80.262012,2,0,1,3,1350,6.0,3.0,2,3.0,1.0,5.0,2,1,3.0,28000.0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,1,1,6,12,2018,6
2,1,Attiguppe,12.955991,77.531634,2,1,1,1,600,3.0,1.0,2,1.0,1.0,2.0,1,2,0.0,8000.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20,7,2018,0
3,3,Kodihalli,12.963903,77.649446,2,1,1,3,1500,15.0,3.0,2,4.0,0.0,0.0,1,2,1.0,45000.0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,31,5,2018,3

In [34]:
def machine_learning_regression(df, algorithm):

    x = df.drop(columns=['locality', 'rent'], axis=1)
    y = df['rent']
    x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

    model = algorithm().fit(x_train, y_train)
    y_pred_train = model.predict(x_train)
    y_pred_test = model.predict(x_test)
    r2_train = r2_score(y_train, y_pred_train)
    r2_test = r2_score(y_test, y_pred_test)

    # algo = str(algorithm).split("'")[1].split(".")[-1]
    accuracy_metrics = {'algorithm': algorithm.__name__,
                        'R2_train' : r2_train,
                        'R2_test'  : r2_test}

    return accuracy_metrics

In [35]:
print(machine_learning_regression(df, DecisionTreeRegressor))
print(machine_learning_regression(df, ExtraTreesRegressor))
print(machine_learning_regression(df, RandomForestRegressor))
print(machine_learning_regression(df, AdaBoostRegressor))
print(machine_learning_regression(df, GradientBoostingRegressor))
print(machine_learning_regression(df, XGBRegressor))

{'algorithm': 'DecisionTreeRegressor', 'R2_train': 1.0, 'R2_test': 0.604012322201126}
{'algorithm': 'ExtraTreesRegressor', 'R2_train': 1.0, 'R2_test': 0.773598475001005}
{'algorithm': 'RandomForestRegressor', 'R2_train': 0.9730598393333058, 'R2_test': 0.805272340518585}
{'algorithm': 'AdaBoostRegressor', 'R2_train': 0.5879175522338167, 'R2_test': 0.5750609300193383}
{'algorithm': 'GradientBoostingRegressor', 'R2_train': 0.8133398018294784, 'R2_test': 0.7914601902648744}
{'algorithm': 'XGBRegressor', 'R2_train': 0.9351043049778582, 'R2_test': 0.8166570606273784}

In [36]:
x = df.drop(columns=['locality', 'rent'], axis=1)
y = df['rent']
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

param_grid_r = {'max_depth'      : [2, 5, 10, 20],
              'min_samples_split': [2, 5, 10],
              'min_samples_leaf' : [1, 2, 4],
              'max_features'     : ['sqrt', 'log2', None]}

grid_search_r = GridSearchCV(estimator=RandomForestRegressor(), param_grid=param_grid_r, cv=5, n_jobs=-1)
grid_search_r.fit(x_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'max_depth': [2, 5, 10, 20],
                         'max_features': ['sqrt', 'log2', None],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10]})

In [37]:
# best parameters for hypertuning the random forest algorithm for better accuracy in unseen data
grid_search_r.best_params_,grid_search_r.best_score_

({'max_depth': 20,
  'max_features': None,
  'min_samples_leaf': 1,
  'min_samples_split': 5},
 0.803232597945916)

In [38]:
x = df.drop(columns=['locality', 'rent'], axis=1)
y = df['rent']
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

model = RandomForestRegressor(max_depth=20, max_features=None, min_samples_leaf=1, min_samples_split=10).fit(x_train, y_train)
y_pred_train = model.predict(x_train)
y_pred_test = model.predict(x_test)

r2_train = r2_score(y_train, y_pred_train)
r2_test = r2_score(y_test, y_pred_test)
r2_train, r2_test

(0.9400018815651805, 0.8054981604921467)

In [39]:
x = df.drop(columns=['locality', 'rent'], axis=1)
y = df['rent']
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

model = RandomForestRegressor(max_depth=20, max_features=None, min_samples_leaf=2, min_samples_split=5).fit(x_train, y_train)
y_pred = model.predict(x_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

metrics = {'R2': r2,
           'Mean Absolute Error': mae,
           'Mean Squared Error': mse,
           'Root Mean Squared Error': rmse}

metrics

{'R2': 0.8055385650065897,
 'Mean Absolute Error': 2642.141898767777,
 'Mean Squared Error': 13989326.806579683,
 'Root Mean Squared Error': 3740.230849370087}

In [40]:
user_data = np.array([[10,9,2017,12.93,77.67,2,4,1400,4,1,5,3,4,1,1,1,2,2,3,2,0,1,0,0,0,0,0,0,0,0,1,1,0,1,1,1,0,1,1,8]])
y_pred = model.predict(user_data)
y_pred[0]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

24148.428015873018

In [41]:
with open('regression_model.pkl', 'wb') as f:
    pickle.dump(model, f)

In [42]:
with open('regression_model.pkl', 'rb') as f:
    model = pickle.load(f)

user_data = np.array([[10,9,2017,12.93,77.67,2,4,1400,4,1,5,3,4,1,1,1,2,2,3,2,0,1,0,0,0,0,0,0,0,0,1,1,0,1,1,1,0,1,1,8]])
y_pred = model.predict(user_data)
y_pred[0]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

24148.428015873018